*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Red Hat Display', sans-serif;
  background: url("/images/pattern-background-desktop.svg") repeat-x ;
  background-color: var(--Primary-Pale-blue);
}

p,span,a,button{
  font-size: 1rem;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

img{
  max-width: 100%;
  height: auto;
}

:root{
  --Primary-Pale-blue: hsla(225, 100%, 94%);
  --Primary-Pale-blue-hover: rgba(224, 232, 255, 0.397);
  --Primary-Bright-blue: hsl(245, 75%, 52%);
  --Primary-Bright-blue-hover: hsla(245, 75%, 52%, 0.507);
  --Neutral-Very-pale-blue: hsl(225, 100%, 98%);
  --Neutral-Desaturated-blue: hsl(224, 23%, 55%);
  --Neutral-Dark-blue: hsl(223, 47%, 23%);

  --900-Weights:900;
  --700-Weights:700;
  --500-Weights:500;
}


.card__background{
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  max-width: 400px;
  border-radius: 20px;
  margin: 0px 10px;
  background: var(--Neutral-Very-pale-blue);
}

.card img{
  border-radius: 20px 20px 0px 0px;
}

.card__content{
  padding: 30px;
  text-align: center;
}

.card__content h2{
  margin-bottom: 15px;
  color: var(--Neutral-Dark-blue);
}

.card__content p{
  max-width: 300px;
  margin: 20px auto;
  line-height: 25px;
  color: var(--Neutral-Desaturated-blue);
}

.card__AnnualPlan{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--Primary-Pale-blue-hover);
  border-radius: 10px;
}

.card__icon{
  display: flex;
  align-items: center;
  gap: 20px;
}

.card__AnnualPlan a{
  color: var(--Primary-Bright-blue);
  border-bottom: 2px solid var(--Primary-Bright-blue);
  line-height: 13px;
  font-weight: var(--700-Weights);
}

.card__AnnualPlan a:hover{
  color: var(--Primary-Bright-blue-hover);
  border: none;
}

.card__span span{
  display: block;
  margin-bottom: 5px;
}

.card__span span:first-child{
  color: var(--Neutral-Dark-blue);
  font-weight: var(--900-Weights);
}

.card__span span:last-child{
  color: var(--Neutral-Desaturated-blue);
}

.card__button button{
  display: block;
  margin: 30px auto;
  width: 100%;
  padding: 15px;
  color: var(--Neutral-Very-pale-blue);
  font-weight: var(--700-Weights);
  background: var(--Primary-Bright-blue);
  border-radius: 10px;
  box-shadow: 0px 10px 15px 0px var(--Primary-Bright-blue-hover); 
  transition: .2s;
}

.card__button button:hover{
  background: var(--Primary-Bright-blue-hover);
}

.card__button a{
  color: var(--Neutral-Desaturated-blue);
  font-weight: var(--700-Weights);
  transition: 0.2s;
}

.card__button a:hover{
  color: var(--Neutral-Dark-blue);
}

.attribution { position: absolute; bottom: 0; font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width:375px){
  body{
    background: url("/images/pattern-background-mobile.svg") repeat-x cover; 
    background-color: var(--Primary-Pale-blue);
  }
}

